<div id="services" class="text-center navbar navbar-default navbar-fixed-top">
    <br>
    <div class="row">
        <div class="col-sm-1 page-title">
            VTO
        </div>
        <div class="col-sm-2" ng-click="choosePage('about')">
            <span class="glyphicon glyphicon-off logo-small"> </span></a>
            <h4>About</h4>
        </div>
        <div class="col-sm-2" ng-click="choosePage('portfolio')">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>Farmers</h4>
        </div>
        <div class="col-sm-2" ng-click="choosePage('carousel')">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>Community</h4>
        </div>
        <div class="col-sm-2" ng-click="choosePage('contact')">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>Trees</h4>
        </div>
        <div class="col-sm-2" ng-click="choosePage('pricing')">
            <a href="/admin"><span class="glyphicon glyphicon-certificate logo-small"></span></a>
            <h4>Admin</h4>
        </div>
    </div>
</div>